{% extends 'basic.html' %}
{% block title %} sangeet {% endblock %}
{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          max-width: 227px;
          height: 242px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
bottom: auto;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock %}
 {% block body %}
	{% for message in messages %}
	<div class="alert alert-info alert-dismissible fade show" role="alert" >
		{{message}}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	<div class="container">
		{% for playlists, range, nSlides, category in data %}
		<h5 class="my-4">{{category}}</h5>
		<div id="demo{{forloop.counter}}" class="carousel slide my-3" data-ride="carousel">
			<div class="container carousel-inner no-padding">
				<div class="carousel-item active">
					{% for i in playlists %}
					<div class="col-xs-3 col-sm-3 col-md-3">
						<div class="card" style="width: 18rem;">
							<img src='{{i.image.url}}' class="card-img-top" alt="...">
							<div class="card-body">
								<a href="playlist/{{i.id}}"> <h5 class="card-title">{{i.name}}</h5></a>
							</div>
						</div>
					</div>
					{% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
				</div>
				<div class="carousel-item">
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- left and right controls for the slide -->
		<a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
			<span class="carousel-control-next-icon"></span>
		</a>
		<br><br>
		{% endfor %}
	</div>
{% endblock %}
